:root{
    --bascground-color:#E5E5E5;
    --second-bascground-color:#2F303A;
    --second-text-color:#212121;
    --primary-text-color:#757575;
    --accent-color:#2196F3;
}
body{
    margin: 0;

    color:var(--primary-text-color);
    font-family:Roboto,sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    margin: 0;
padding: 0;
}
button{
    cursor: pointer;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
.caption{
margin-top: 0;
margin-bottom: 0;

    color: var(--second-text-color);
    font-weight: 700;
    letter-spacing: 0.06em;
}
.container{
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
.list{
margin-top: 0;
margin-bottom: 0;

list-style: none;
text-decoration: none;
}


.head-container{
align-items:center;
display: flex;
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
.logo-color{

color: var(--accent-color);
}
.logo{
padding-bottom: 25px;
padding-top: 24px;

 color: #000000;
 font-family:Raleway,sans-serif;
 font-size: 26px;
 line-height:1.2;
 text-decoration:none;
 letter-spacing: 0.03em;
}
.head-nav-list.list{
    display: flex;
    margin-left: 93px;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.head-nav-list.list .item+.item{
    margin-left: 50px;
}
.head-nav{
    display: flex;
}

.head-nav-list .link{ 

text-decoration:none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121; 
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.head-nav-list .link.current{
    color:var(--accent-color);
}
.current{
    color: var(--accent-color);
    position: relative;
}
.head-nav-list .link:hover,
.head-nav-list .link:focus{
    color: var(--accent-color);
}
.current::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -35px;

   background-color: var(--accent-color);
border-radius: 2px;
}
.icon-adres-envelope{
    display: block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill:currentColor;
}

.icon-adres-phone{
    display: block;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill:currentColor;
}
.item.adres:hover,
.item.adres:focus{
    color: var(--accent-color);
}
.item.adres{
    display:flex;
     justify-content: center;
     align-items: center; 
}
.item.adres > .link{
    align-items: center;
     transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.adres-list.list{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
}
.adres-list.list .item+.item{
    margin-left: 50px;
}

.adres-list .link{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;

    text-decoration:none;
    color:var(--primary-text-color);
    
}
.adres-list .link:hover,
.adres-list .link:focus{
    color: var(--accent-color);
}
.head-pages{
    border-bottom: 1px solid #ECECEC;

}


.title-baner{

    background-color: var(--second-bascground-color);
    text-align: center;
    padding-top: 200PX;
    padding-bottom: 200px;
    
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../imeges/Img\ \(15\)\ \(1\).jpg);
    min-width: 1600px;
}
.title-text{
    margin-top: 0;
    margin-bottom: 30px;
    
text-transform: uppercase;
color:#ffffff;
font-size: 44px;
line-height: 1.36;
letter-spacing:0.06em;
}
.title-button{
    padding: 10px 32px;
    border-radius: 4px;
    border: none;

background-color: var(--accent-color);
color: #FFFFFF;
font-weight:700;
font-size: 16px;
line-height:1.87;
letter-spacing:0.06em;
}
.advantages{
    padding-top: 94px;
}
.advantages-caption{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-caption{
margin-top: 0;
margin-bottom: 10px;

font-size: 14px;
line-height:1.14;
text-transform: uppercase;
}
.advantage-text{
    font-size: 14px;
line-height: 1.71;

}
.advantage-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
}
.advantage-symbol{
    display: block;
    
    width: 70px;
    height: 70px;
}
.advantages-list .advantage-item+.advantage-item{
    margin-left: 30px;
    
}
.advantages-list{
    display: flex;
}

.advantage-item{
    display: block;
    width: 270px;
}
.work{
    padding-top: 94px;
    padding-bottom: 94px;
}
.work-caption{
margin-bottom: 50px;

font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}
.work-list.list{
    display: flex;
    flex-wrap: wrap;
    
}
.work-item-text{
position: absolute;
width: 100%;
left: 0;
bottom: 0;

font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-top: 27px;
padding-bottom: 27px;

color: #FFFFFF;
background-color: rgba(47, 48, 58, 0.8);;
}

.work-item {
    margin-right: 30px;
    position: relative;

}
.work-item:nth-child(3n){
    margin-right: 0;
}
.comand-social.list{
    display: flex;
justify-content: center;
} 
.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
 width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    background-color:#ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.comand-social.list .social-item+.social-item{
    margin-left: 10px;
}


.social-link:hover, 
.social-link:focus{
    color:#ffffff;
    background-color:var(--accent-color);
    
}
.comand-icon{
    display:block; 
    justify-content: center;  
    fill:currentColor;
   width: 20px;
   height: 20px;
}
.comand{
padding-top: 94px;
padding-bottom: 94px;

background-color:  #F5F4FA;
}
.comand-blok{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.comands-caption {
margin-bottom: 50px;

font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}
.comand-list.list{
display: flex;
}
.comand-item{
    display: block;
    max-width: 270px;
    margin-right: 30px;
    text-align: center;
    background: #FFFFFF;

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12)
, 0px 1px 1px rgba(0, 0, 0, 0.14)
, 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.comand-item:nth-child(4n){
    margin-right: 0;
}
.comand-caption{
margin-bottom: 10px;

font-weight: 500;
font-size: 16px;
line-height:1.18;
letter-spacing: 0.03em;
}
.comand-text{
    margin-bottom: 16px;
}
.customers-caption.caption{
    text-align: center;
    
    margin-bottom: 50px;

    font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
}
.customers{
    padding-bottom: 94px;
    padding-top: 94px;
   
    
}
.customers-list{
 display: flex;
}
.customer-linc{
    display:flex;
    justify-content: center;
    align-items: center;
 width: 170px;
height: 92px;
border:  1px solid#AFB1B8;
border-radius: 4px;
 color:  #AFB1B8; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.customer-linc:hover,
.customer-linc:focus{
    color: var(--accent-color);
    border:  1px solid var(--accent-color);
}
.customer{
    fill: currentColor;
}
.customers-list .customer-item+.customer-item{
    margin-left: 30px;
}
.customer{
    justify-content: center;

    display: block;
    width: 106px;
    height: 60px;
}
.footers{
align-items: baseline;
     display: flex;
}
.footer{  
padding-top: 60px;
padding-bottom: 60px;

background-color: var(--second-bascground-color);
}
.footer-logo{
    display: block;
    margin-bottom: 20px;
 

color: #ffffff;
font-family:Raleway,sans-serif;
font-size: 26px;
line-height:1.2;
text-decoration:none;
letter-spacing: 0.03em;
}
.footer-addres{ 
    margin-bottom: 9px;

font-style: normal;
font-family: inherit;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:#ffffff;

}
 .footer-link{
    
     text-decoration: none;
     font-family: Roboto,sans-serif;
     font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
 
      
}

.footer-item{
     display: block;
margin-bottom: 9px;
}
.footer-item:last-child{
    margin-bottom: 0;
}
.footer-caption.caption{
margin-bottom: 20px;

    text-transform: uppercase;
    font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;

color: #FFFFFF;
}
.footer-social-linc{
     display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.footer-social-linc:hover,
.footer-social-linc:focus{
    background-color: var(--accent-color);
}
.footer-icon{
    fill: currentColor;
     width: 20px;
    height: 20px;
}
.footer-social{
margin-left: 70px;
    display: block;
}
.footer-social.list{
  display: flex;
margin-left: 0;
}
.footer-social.list .social-item+.social-item{
    margin-left: 10px;
}
.example-caption {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.examples{
padding-top: 94px;  
padding-bottom: 94px;     
}
.examples-box{
    display: block;
padding-left: 24px;
padding-right: 24px;
padding-top: 20px;
padding-bottom: 20px;
 border-bottom: 1px solid#EEEEEE;
 border-left: 1px solid#EEEEEE;
 border-right:1px solid#EEEEEE;
}
   
.filter-list{ 
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-list .filter-item+.filter-item{
    margin-left: 8px;
}
.filter-item{

}
.filter-button{
    border: none;
border-radius: 4px;
padding: 6px 22px;


font-family: inherit;
background-color: #F5F4FA;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus{
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08)
    , 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples{
    
}
.examples-caption{
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

 margin-bottom: 4px;
}
.examples-list{
 display: flex;
    flex-wrap: wrap;   
}
.examples-item{
    display: block;
    margin-right: 30px;
    margin-bottom: 30px;
    max-width: 370px;
    background: #FFFFFF;
}
.examples-item:nth-child(3n){
    margin-right: 0;
}
.examples-item:nth-last-child(-n + 3){
    margin-bottom: 0;
}
.examples-caption{
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.examples-text{
    color: var(--primary-text-color);
font-size: 16px;
line-height:1.87;
letter-spacing: 0.03em;
}

.exemples-thumb{
    position: relative;
    overflow: hidden;
}
.examples-thumb-text{
    position: absolute;
     top: 0;
     left: 0;
     transform: translateY(100%);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
     bascground-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

width: 370px;
height: 100%;
padding: 63px 24px;
font-family: Roboto;
font-size: 18px;
line-height: 1.58;
letter-spacing: 0.03em;
color: #FFFFFF;
background-color:rgba(33, 150, 243, 0.9);
}
.exemples-link{
    display: block;
}

.exemples-link:hover .examples-thumb-text,
.exemples-link:focus .examples-thumb-text{
transform: translateY(0);
}
.exemples-link:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06)
    , 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 250ms, visibility 250ms ;
    

}
.modal{
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
transition: 250ms;
}

.backdrop.is-hidden .modal{
    transform: scale(0.1);
    
}
.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    width: 30px;
    height: 30px;
    border:  1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

    border-radius: 50%;
    align-items: center;
   
}
.modal-close-icon{
    width: 18px;
    height: 18px;

}
.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
